@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #212121;
}

ul,
ol {
  list-style: none;
}

/*==============OTHERS============*/
/*_______web-studio______*/
.webstudio {
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
}

.footer .webstudio {
  margin-top: 60px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .webstudio {
    font-size: 24px;
    line-height: 1.166;
  }
}

.webstudio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.footer .webstudio {
  margin-top: 60px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.header .webstudio {
  margin-right: 90px;
}

/*_____end web-studio_____*/
/*==============END OTHERS=========*/
.heading-main {
  /*___Ззаголовки____ */
  text-align: center;
  height: 42px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .heading-main {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and (min-width: 1200px) {
  .heading-main {
    margin-top: 94px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.contanier {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .contanier {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .contanier {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .contanier {
    width: 1200px;
  }
}

/*=============MODAL-WINDOW========*/
/*_______________BCKDRP____________*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition: all 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms linear 250ms;
}

.close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn svg {
  height: 30px;
  fill: #000000;
}

.close-btn:hover svg {
  fill: #2196f3;
}

/*____________FORM-MODAL_________*/
.modal__form {
  width: 448px;
  height: 342px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.modal__form-title {
  width: 448px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form-field {
  margin-bottom: 10px;
  width: 448px;
  height: 138px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-wrapper {
  position: relative;
  margin-top: 10px;
}

.modal__form-input {
  padding-left: 40px;
  margin-top: 4px;
  width: 448px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal__form-input:focus {
  border: 1px solid #2196f3;
}

.modal__form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
}

.modal__form-input:focus + .modal__form-svg {
  fill: #2196f3;
}

.modal__form-message {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-left: 12px;
  padding-top: 12px;
}

.modal__form-message:focus {
  border: 1px solid #2196f3;
}

.modal__form-policy--label {
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__form-policy--label::before {
  display: inline-block;
  margin-right: 7px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal__form-policy:checked + .modal__form-policy--label::before {
  background-color: #2196f3;
  background-image: url(../images/ok.svg);
  border-color: #2196f3;
}

.modal__form-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 28px;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*===========END MODAL-WINDOW======*/
/*=============HEADER ШАПКА========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding: 29px 0;
}

.header-box {
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-box.is-open {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: all;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.navigation__item {
  text-align: center;
}

.navigation__item:not(:first-child) {
  margin-top: 40px;
}

.navigation .header__btn {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.navigation .header__btn-img {
  width: 40px;
  height: 40px;
}

.navigation .header__btn.is-open .header__btn-menu {
  display: none;
}

.navigation .header__btn:hover, .navigation .header__btn:focus {
  fill: #2196f3;
}

.navigation .header__btn-close {
  display: none;
}

.navigation .header__btn.is-open .header__btn-close {
  display: block;
}

@media screen and (min-width: 768px) {
  .navigation .header__btn {
    display: none;
  }
}

.navigation .adress {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .navigation .adress {
    display: none;
  }
}

.navigation .contact-list a {
  color: #757575;
}

.navigation .contact-list svg {
  height: 16px;
  width: 20px;
  margin-right: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .navigation {
    position: relative;
  }
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -191%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/*___________NAVIGATION________ */
/*=============HERO-ГЕРОЙ==============*/
.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_hero.png);
}

.hero_title {
  /*__Эффективные решения для вашего бизнеса__*/
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  /* ___BUTTON-Заказать-услугу___ */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border: 1px solid #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

/*=========ADVANTAGE-ПРЕМУЩЕСТВО=========*/
/*____________ADVANTAGE-ITEM____________*/
.advantage__list {
  display: flex;
  margin-top: 94px;
}

.advantage__card {
  width: 270px;
  height: 251px;
}

.advantage__card:not(:last-child) {
  margin-right: 30px;
}

.advantage__heading {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage__text {
  width: 270px;
  height: 101px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.svg-advantage {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.svg-advantage svg {
  width: 70px;
}

/*=======END ADVANTAGE-ПРЕМУЩЕСТВО========*/
@media screen and (max-width: 767px) {
  .service {
    display: none;
  }
}

.service .service__list {
  display: flex;
  justify-content: space-between;
}

.service .service__img:not(:last-child) {
  margin-right: 30px;
}

.team {
  background: #f5f4fa;
  /*__team-item__*/
}

.team__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 50px;
}

.team__card-items {
  height: 428px;
  margin-bottom: 94px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-items:not(last-child) {
  margin-right: 30px;
}

.team__name {
  /*_____Имя______ */
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__post {
  /* ____Должность___ */
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/*_______social-links_______*/
.links {
  /* _____LINKS_____ */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link svg {
  width: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #ffffff;
}

.social-list-link {
  display: flex;
  margin-top: 20px;
}

.footer .social-link {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #2196f3;
}

/*_____end social-links_____*/
/*===========CLIENTS-КЛИЕНТЫ=============*/
.clients {
  display: flex;
}

.card-client {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-client svg {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
}

.card-client:not(:last-child) {
  margin-right: 30px;
}

.card-client:hover, .card-client:focus {
  border-color: #2196f3;
}

.card-client:hover svg,
.card-client:focus svg {
  fill: #2196f3;
}

/*==========END CLIENTS-КЛИЕНТЫ==========*/
/*============FOOTER-ПОДВАЛ==============*/
.footer {
  background-color: #2f303a;
}

.footer a {
  color: #ffffff;
}

.footer__item-adress {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.footer__adress {
  padding-bottom: 9px;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 232px;
}

.adress-link,
.contact {
  padding-bottom: 9px;
}

.adress-link a {
  color: var(--color-white);
}

.contact a {
  color: rgba(255, 255, 255, 0.6);
}

/* ______JOIN-LINKS______ */
.join-links {
  margin-left: 70px;
  margin-right: 93px;
  width: 206px;
}

.join {
  /*___join-присоеденяйтесь___*/
  margin-top: 72px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
}

/*_______social-links_______*/
.links {
  /* _____LINKS_____ */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link svg {
  width: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #ffffff;
}

.social-list-link {
  display: flex;
  margin-top: 20px;
}

.footer .social-link {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #2196f3;
}

/*_____end social-links_____*/
/*____end social-list____*/
/* ______end adress______ */
/* ______MAILING-РАССЫЛКА________ */
.mailing-title {
  margin-top: 72px;
  margin-bottom: 20px;
  width: 219px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-mail {
  display: flex;
  justify-content: start;
}

.mailing-contact {
  padding-left: 12px;
  width: 358px;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.mailing-btn {
  margin-left: 12px;
  padding: 6px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/*==========END FOOTER-ПОДВАЛ============*/
/*# sourceMappingURL=main.css.map */