.service {
  @media screen and (max-width: 767px) {
    display: none;
  }

.service__list {
  display: flex;
  justify-content: space-between;
}
.service__img:not(:last-child) {
  margin-right: 30px;
}
}