.contanier {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
    width: 480px;

    }
    @media screen and (min-width: 768px) {
    width: 768px;
    }
    @media screen and (min-width: 1200px) {
    width: 1200px;
    // .header & {
    //     display: flex;
    //     align-items: center;
    //   }
    // .advantage & {
    //     height: 290px;
    // }
    // .service & {
    //     height: 386px;
    // }
    // .client & {
    //     margin-bottom: 94px;
    // }
    // .footer & {
    //     display: flex;
    // }
   }
} 


// .contanier {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
//     .header & {
//         display: flex;
//         align-items: center;
    // }
    // .advantage & {
    //     height: 290px;
    // }
    // .service & {
    //     height: 386px;
    // }
    // .client & {
    //     margin-bottom: 94px;
    // }
    // .footer & {
    //     display: flex;
    // }
//   }