    $main-font: "Roboto", sans-serif;
    $secondary-font: "Ralewey", sans-serif;
    $color-primary: #212121; 
    $color-sacondary: #2196f3;
    $background-color: #e5e5e5;
    $color-white: #ffffff;
    $color-grey: #757575;
    $color-dark-white: #f5f4fa;
// var(--text-color-black): #212121; 
// var(--text-color-sacondary): #2196f3;
// var(--background-color-primary): #e5e5e5;
// var(--background-color-header): #ffffff;
// var(--text-color-white): #ffffff;
// var(--text-color-grey): #757575;